<ion-view>

<ion-content>
   <ion-list class="list">
    <ion-item class="item-text-wrap" ng-repeat="info in rooms | filter:{shortname:whichroom}">
      <img class="rooms" ng-src="img/{{info.shortname}}_img.jpg">
      <h1>{{info.whichroom}}</h1>
      <h2 ng-init="data.price=info.price" ng-model="data.price">{{info.price}} / night</h2> <br>
      <h3>Maximum number of guests: {{info.max}}</h3> <br>
      <p>{{info.bio}}</p>
    </ion-list> 
    
    
    <form name="form" ng-submit="book()" class="padding">
      
      <label class="item item-input">
          <span class="input-label"> Check-in date</span> 
        <input type="date" name="checkin" ng-model="data.checkin" min="{{today}}" ng-blur="getbookdate()" required>
      </label>
      
      <label class="item item-input">
          <span class="input-label"> Check-out date</span>
        <input type="date" name="checkout" ng-model="data.checkout" min="{{bookdate}}" ng-blur="confirm()" required>
      </label>
      <label style="padding:0%" class="item item-input item-stacked-label">
          <ion-item ng-repeat="info in rooms | filter: {shortname:whichroom}">
            <span class="input-label"> Adults</span>
            <input type="number" name="adults" placeholder="Input number of adults" min="1" max="{{info.max}}" ng-model="data.adults" required>
        </label>
  
        <label style="padding:0%" class="item item-input item-stacked-label">
          <ion-item ng-repeat="info in rooms | filter: {shortname:whichroom}">
            <span class="input-label"> Kids</span>
            <input type="number" name="kids" placeholder="Input number of kids" min="0" max="{{info.max - data.adult}}" ng-model="data.kids"
              required>
        </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">First name</span>
        <input type="text" name="firstname" placeholder="Type in firstname" ng-model="data.firstname" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label"> Last name</span>
        <input type="text" name="lastname" placeholder="Type in lastname" ng-model="data.lastname" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone number</span>
        <input type="number" name="tel" placeholder="Provide phone number" ng-model="data.tel" required>
      </label>

      <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" name="email" placeholder="Provide valid e-mail" ng-model="data.email" required>
          <div ng-show="form.email.$error.email" class="error">
            Type in valid email
          </div>

        </label>
      
        
        
  
        <ion-item ng-repeat="info in rooms | filter: {shortname:whichroom}">
  
          <label class="item item-input item-stacked-label" ng-model="data.days" 
          ng-init="data.days=sumOfDays">Total nights booked {{sumOfDays}}</label>
          <label class="item item-input item-stacked-label" ng-model="data.totalPrice" ng-init="data.totalPrice=totalPriceFinal"> Total price 
          {{(info.price-0) * (dateDiff(data.checkin, data.checkout)-0)}}.00 SEK</label>
           
          
          <input type="submit" name="book" ng-disabled="form.$invalid" value="Book" class="button button-block button-positive">

          <h3>Data</h3>

          <pre>
              {{data | json}}
          </pre>
          
        </form>
        
      
    </ion-content>
</ion-view>

